// Layout
// -------

%spread {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
}

%horizontal-center {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

%vertical-center {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));
}

// Responsive media embeds
// -------------------------

.embed-container {
    position: relative;
    height: 0;
    padding-bottom: 42.69%; // 260:111 aspect ratio
    overflow: hidden;
    iframe, object, embed, video, img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}